body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    border: 10px solid #2a5555;
    margin: 0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px;
    align-self: center;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat (8, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 30vh;
    background: #9dccb9;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 12vw;
    max-width: 20vh;
    height: auto;
    max-height: 20vh;
    padding: 15%;
    margin: 0px;
    align-items:center;
    z-index: 1;
    background-color: #9dccb9;
}

.pagetop {
    font-size: 12vw;
    max-height: 30vh;
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    padding-left: 4px;
    justify-self: flex-start;
    font-weight: bold;
    color: #000000;
    z-index: 1;
    background-color: #9dccb9;
}

.pagetop2 {
    font-size: 12vw;
    max-height: 30vh;
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    display: flex;
    justify-self: flex-start;
    font-weight: bold;
    color:#2a5555;
    z-index: 1;
}

nav {
    grid-column: 1 / 9;
    grid-row: 2 / 3;
    background: #2a5555;
    margin: 0px;
    z-index: 1;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("images/FLUXFLUENT-AI.jpeg");
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: flex-end; 
    margin-top: 25vh;
    border: 10px solid black;
}

.text {
    font-size: 4vw;
    text-align: center;
    color: white;
}


ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  padding: 0px;
  margin: 10px;
}

a {
  padding: 0px;
  margin: 0px;
  font-size: 1.25rem;
  color:#f4f4f4;
  background-color: #2a5555;
  text-decoration: none;
}

a:focus {
  border: 1px solid white;
}

.about-us {
  background-color: #2a5555;
  color: white;
  padding: 30px;
  margin: 0px;
  margin-top: -10px;
  border: 10px solid black;
  border-bottom: 5px solid black;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: url(images/FLUXFLUENT\ round.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10px;
  border-left: 10px solid black;
  border-right: 10px solid black;
  border-top: 5px solid black;
}

.card {
  background-color: black;
  border-radius: 10px;
  color:#9dccb9;
  padding: 10%;
  margin: 10px;

}

#service1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

#service2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
}


#service3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

#service4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.services img {
  filter:invert(50%);
}

form {
  background-color: #9dccb9;
  border: 10px solid black;
  padding: 20px;
}

.formgrid {
  display: grid;
  margin: 20px;
  max-width: 300px;
}

.contact-input {
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.contact-textarea {
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 1rem;
}

label {
  font-size: 1.25rem;
}

button {
  margin-left: 20px;
  margin-bottom: 200px;
  font-size: 1rem;
}

#error {
  visibility: hidden;
}

footer {
  padding: 10px;
  color: white;
  background-color: #2a5555;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {

  .hero {
    margin-top: 10vh;
   }

  ul {
    flex-direction: column;
  }

  .services {
    display: flex;
    flex-direction: column;
    background: lightgray;
    padding: 5%;
    background-image: url(images/FLUXFLUENT\ round.jpeg);
    background-size: auto;
}

}
